@font-face {
    font-family: sensei;
    src: url(../fonts/Sensei-Medium.ttf);
}

.sensei {
    font-family: sensei;
    font-size: 5.5em;
}

.museo {
    min-height: 600px !important;
    width: 100% !important;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
    border: 1px solid black;
}

.museo:hover {
    transform: scale(1.5);
    min-height: 600px !important;
    width: 100% !important;
    transition: 0.5s all ease-in-out;
}
.museos-titulo{
    font-family: sensei;
    font-size: 80px;
    background-color: #a78a67;
}
html,body{
    height: 90%;
    scroll-behavior: smooth;
}

header{
    background-image: url("../images/museos-banner.jpeg");
    height: 100%;
    background-size: 100%;
    background-size: cover;
}

hr{
    margin-bottom: -20px;
    /* border: 10px solid black; */
}
nav{
    font-family: sensei;
  }
  footer{
    background-color: gainsboro;
    font-size: xx-large;
    height: 100px;
    font-family: sensei;
}

footer > span{
    margin-top: 50%;
}